name: Publish NuGet Packages

on: 
  push:
    tags:
      - 1.**
  workflow_dispatch:
  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: |
          dotnet restore HexaEngine.Sappho/HexaEngine.Sappho.csproj
          dotnet restore HexaEngine.Sappho.Analyzer/HexaEngine.Sappho.Analyzer.csproj

      - name: Build the project
        run: |
          dotnet build HexaEngine.Sappho/HexaEngine.Sappho.csproj --configuration Release
          dotnet build HexaEngine.Sappho.Analyzer/HexaEngine.Sappho.Analyzer.csproj --configuration Release

      - name: Pack the project
        run: |
          dotnet pack HexaEngine.Sappho/HexaEngine.Sappho.csproj --configuration Release --output ./nupkgs
          dotnet pack HexaEngine.Sappho.Analyzer/HexaEngine.Sappho.Analyzer.csproj --configuration Release --output ./nupkgs
          
      - name: List packages
        run: ls ./nupkgs/

      - name: Publish the package
        run: dotnet nuget push ./nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
